

@media only screen and (min-width:768px) and (max-width:1023px) {
.new-tweet {
  margin-top: 16px;
}

textarea {
  display:flex;
  margin-top:16px;
  width: 100%;
  background-color: transparent;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-width: 2px;
}

button {
background-color: royalblue;
border-radius: 5px;
color: white;
margin-top: 16px;
}

div {
  display: flex;
  align-items:center;
  justify-content: space-between;
  flex-direction: row;
  align-content: right;
}

.counter {
  font-weight: bold;
  color:black;
}
.negativeNum {
  color: red;
}
article.tweet {
  margin-top:1.5em;
  padding:16px;
  border: 2px solid black;
}

article.tweet header {
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  align-items: center;
  
}


article.tweet footer {
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  align-items: baseline;
}

}

.grow {
  flex-grow: 1;
}

.tweet:hover {
  box-shadow: 10px 10px gray;
}

i:hover {
  color: fuchsia;
  cursor: pointer;
}

.input {
  border-bottom: 2px solid black;
  padding: 5px 0px 5px 0px;
}

.name {
  padding-right:10px;
  padding-left:10px;
  }

.lightgrayHandle {
  color:#a2a2a7;
  }

.error {
  position: relative; 
  visibility: hidden;
  display: flex;
  justify-content: space-evenly;
  color: #c51244;
  border: 5px solid #c51244 !important;
  border-radius: 10px;
  padding: 10px !important;
  box-shadow: 1px 1px 1px #aaaaaa;
  margin-top: 10px;
  width:100%;
}

@media only screen and (min-width: 1024px) {

  div {
    display: flex;
    align-items:center;
    justify-content: space-between;
    flex-direction: row;
    align-content: right;
  }
  
  textarea {
    display:flex;
    margin-top:16px;
    width: 100%;
    background-color: transparent;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-width: 2px;
  }
  
  button {
  background-color: royalblue;
  border-radius: 5px;
  color: white;
  margin-top: 16px;
  }

  article.tweet {
    margin-top:1.5em;
    padding:16px;
    border: 2px solid black;
  }
  
  article.tweet header {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    
  }
  article.tweet footer {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: baseline;
  }

}

